* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* ==================================common================================== */
.container {
  width: 1400px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
a {
  text-decoration: none;
}
.h1-content {
  color: #171100;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.17;
  width: 700px;
}
.h2-content {
  color: #171100;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.17;
  width: 600px;
}
.h3-content {
  color: #171100;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.17;
}
.p-content {
  margin-top: 20px;
  width: 470px;
  color: #5f5b53;
  font-weight: 400;
  line-height: 1.67;
}
.btn {
  display: block;
  color: #fff;
  text-align: center;
  width: 108px;
  border-radius: 24.5px;
  background: #171100;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 40px;
  transition: all 0.3s ease;
}
.btn:hover {
  opacity: 0.8;
}
/* =============================header================================= */
.header {
  width: 100%;
  padding: 15px 0;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
.header__logo img {
  width: 120px;
  height: 120px;
}
.nav .nav__content {
  display: flex;
}
.nav .nav__content li {
  padding: 8px 21px;
}
.nav .nav__content li a {
  font-size: 1.6rem;
  color: #000;
}
.header__right {
  display: flex;
  gap: 18px;
}
.header__right a {
  padding: 8px 0;
}
.header__right img {
  width: 23px;
  height: 23px;
}
.nav__content li a:hover {
  opacity: 0.9;
  color: #171100;
  text-align: center;
  text-shadow: 1px 0 0 currentColor;
}
/* =========================carousel============================= */

.slide_show {
  width: 100%;
  height: 100vh;
  margin-top: -74.2px;
  overflow: hidden;
  position: relative;
}
/* dùng absolute để khi dời item sẽ dời theo thẻ cha là slide show  */
.slide_show .list-item {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  transition: 1s;
}
.slide_show .list-item__item {
  position: relative;
}
.slide_show .list-item__item img {
  object-fit: cover;
  object-position: right center;
  max-width: 100vw;
  height: 100vh;
}
.slide_show .list-item__item.item3 img {
  object-position: center;
}
.slide_show .list-item__item video {
  position: relative;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center left;
}
.list-item__item--content .action {
  margin-top: 36px;
}
/* content của mỗi item  */
.list-item__item--content {
  position: absolute;
  top: 34%;
  left: 7%;
}

.list-item__item--content.n2 {
  position: absolute;
  top: 34%;
  left: 7%;
}
.list-item__item--content.n3 {
  position: absolute;
  top: 12%;
  left: 26%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.list-item__item--content.n4 {
  position: absolute;
}
/* tìm hiểu thêm  */
.action.flex {
  display: flex;
  align-items: center;
}
.action.flex .more__btn {
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 18px;
  display: inline-block;
  position: relative;
  color: black;
}
.action.flex .more__btn::before {
  content: "";
  border-radius: 12px;
  position: absolute;
  background-color: #000;
  height: 3px;
  width: 107px;
  bottom: -6px;
}
/* nút chuyển hai bên  */
.button__vector {
  display: flex;
  z-index: 1;
}
#button__vector--left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20px;
  bottom: 50%;
  background-color: #5f5c5781;
  border: none;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}
#button__vector--right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  bottom: 50%;
  border: none;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  transition: all 0.3s ease;
  background-color: #5f5c5774;
  cursor: pointer;
}
#button__vector--left:hover,
#button__vector--right:hover {
  opacity: 0.8;
  background-color: #000000e8;
}
/* dot nhỏ chân trang  */
.button--dot {
  z-index: 1;
  position: absolute;
  left: 32%;
  bottom: 0;
  display: flex;
  height: 235px;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 15px;
}
.button--dot .dots {
  width: 130px;
  height: 3px;
  background-color: #7e7a7acf;
  margin-bottom: 15px;
  transition: 1s;
}
.button--dot .dots.active--dots,
.button--dot .dots:hover {
  background-color: #000000;
  border: 2px solid #000000;
}
/* =================================main================================== */
/* trang sp đầu  */
.bg-color {
  padding: 60px 0 65px;

  width: 1450px;
  margin: 0 auto;
  background-color: #f4f3f3c2;
}
.hero-container {
  position: relative;
}

/* title h2  */
.hero .title-item {
  padding: 36px 10px 0px;
}
.title-item .h2-content {
  margin: 0 auto;
  text-align: center;
  padding: 16px;
}
.hero .container--item-list {
  padding: 24px 0;
}
/* danh mục sản phẩm  */
.products_list {
  position: absolute;
  top: 145px;
  left: 30%;
  z-index: 1;
}
.products_list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.products_list li {
  cursor: pointer;
  padding: 15px;
  color: #000;
  font-weight: 500;
  font-size: 1.8rem;
}
/* nội dung các sản phẩm  */
.main-products {
  width: 100%;
  height: 680px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 680px);
  column-gap: 15px;
}
/* sản phẩm lớn bên trái  */
.main-products__content-left {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
}
.main-products__content-left .content-left--box {
  background-image: url(../image/tv.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  border-radius: 25px;
}
.main-products__content-left:hover .content-left--box {
  transform: scale(1.04, 1.04);
}

/* nội dung bên trong box  */
.main-products .content-left--box .element_item {
  width: 70%;
  text-align: center;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: flex-end;
}
.main-products .content-left--box .element_item .mini-desc {
  padding: 10px;
}
.mini-desc {
  color: #000;
}

/* hover in out của p vs btn  */
.right--mini-desc,
.mini-desc {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
}
.btn-item-right,
.btn-product {
  opacity: 0;
  left: 39%;
  visibility: hidden;
  transition: all 0.3s ease;
}

.main-products__content-left:hover .mini-desc {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
}
.main-products__content-left:hover .btn-product {
  opacity: 1;
  visibility: visible;
  transform: translateY(-25px);
}
/* hover riêng vào nút  */
.btn.btn-product:hover {
  opacity: 0.8;
  transform: translateY(-26px);
}

/* phần sản phẩm bên trái  */
.main-products__content-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}
/* sản phẩm 1 */
.main-products__content-right .item_content--box-right {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 25px;
}

.item_content--box-right .box-content {
  border-radius: 25px;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../image/s24u.jpg);
}

.item_content--box-right .box-content.pt2 {
  background-image: url(../image/s24series.jpg);
}
.item_content--box-right .box-content.pt3 {
  background-image: url(../image/lehoi.jpg);
}
.item_content--box-right .box-content.pt4 {
  background-image: url(../image/loa.jpg);
}

/* content trong sản phẩm nhỏ  */
.item_content--box-right .element_item__right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
.item_content--box-right .element_item__right .right--title-item {
  color: #000;
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 21px;
}
.item_content--box-right .element_item__right .right--mini-desc {
  font-size: 1.2rem;
  color: #000;
}
/* hover riêng cho nút sản phẩm nhỏ  */
.item_content--box-right:hover .btn-item-right {
  opacity: 1;
  visibility: visible;
  transform: translateY(-14px);
}
.action .btn-item-right:hover {
  opacity: 0.8;
  transform: scale(1.02, 1.02) translateY(-15px);
}
/* hover riêng cho chữ sp nhỏ  */
.item_content--box-right:hover .right--mini-desc {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
}
/* hover thẻ sản phẩm nhỏ */
.item_content--box-right:hover .box-content {
  transform: scale(1.04, 1.04);
}

/* js cho các trang sp  */
.slide_show--products {
  width: 1485px;
  height: 845px;
  overflow: hidden;
  position: relative;
}
.js-content-slide {
  display: flex;
  position: absolute;
  left: 35px;
  top: 0;
}
.container--item-list {
  position: absolute;
  opacity: 0; /* Ẩn slide */
  transition: all 0.3s ease;
  transform: translateX(-100%);
}

.container--item-list.active {
  transform: translateX(0);
  opacity: 1; /* Hiển thị slide */
}

.content-left--box.page2 {
  background-image: url(../image/s24series.jpg);
}
